.catName {
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  flex-wrap: wrap;
  color: #2e3333;
  padding: 20px 0;
  /* position: absolute; */

  /* top: -20px; */
}
.itemByCategories {
  background-color: #f3f5f5;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}
.cart {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 76%;
  transform: translate(-51%, 0%);
  height: 190px;
  width: 360px;
  border-radius: 5px;
  box-shadow: 1px 5px 15px 5px rgba(128, 128, 128, 0.219);
}
.cartSpan {
  display: flex;
  height: 66%;
  align-items: center;
  text-align: center;
}
.cartWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
input[type="submit"] {
  width: 100%;
  height: 33%;
  border-radius: 5px;
  background-color: #bac3c3;
}
