.catName {
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  flex-wrap: wrap;
  color: #2e3333;
  padding: 20px 0;
}
.itemByCategories {
  background-color: #f3f5f5;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}
.cart {
  display: flex;
  /* aligne: right; */
  left: 75.5%;
  transform: translate(-50%, 0%);
  justify-self: flex-end;
  /* grid-column-start: 2; */
  height: 190px;
  width: 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;

  border-radius: 5px;
  /* z-index: 1000; */
}
